<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_CarRentalSystem_Connection" connectionString="XpoProvider=MSSqlServer;data source=laptop-8mfvgehg\sqlexpress;integrated security=SSPI;initial catalog=CarRentalSystem" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>